main figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main figure img {
    width: 100%;
}

main figure figcaption {
    color: var(--color-footer);
    font-size: 2em;
}