:root{
    --font-fuente: 'Aldrich','Share Tech','Quantico', sans-serif;
    --color-fondo: #1B1C1D;
    --color-fondoFade: #1B1C1D00;
    --color-contenido: #51a8ff;
    --color-footer : rgb(243, 240, 237);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    font-family: var(--font-fuente);
}



